#amarillo-on {
  box-shadow: 0 0 20px 2px rgb(255, 238, 0);
  border-radius: 30px;
}
#rojo-on {
  box-shadow: 0 0 20px 2px rgb(255, 0, 0);
  border-radius: 30px;
}
#verde-on {
  box-shadow: 0 0 20px 2px rgb(0, 255, 51);
  border-radius: 30px;
    background-color: yellow;
}

.container {
  display: flex;
}

.cont-graf {
  width: 50%;
  height: 50%;
  background-color: rgb(236, 232, 232);
  border-radius: 25px;
}

.box-graf {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.tittle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.hey {
  height: 100px;
}
